*~
GNUmakefile
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
config.h
config.in
config.log
config.status
configure
gnulib.mk
m4
man/Makefile
man/Makefile.in
man/vc-chlog.1
man/vc-dwim.1
stamp-h1
tags
tests/*.log
tests/Makefile
tests/Makefile.in
vc-chlog
vc-dwim
vc-dwim-[0-9.]+tar.bz2
vc-dwim-[0-9.]+tar.gz
