*~
/ChangeLog
/GNUmakefile
/INSTALL
/README-release
/aclocal.m4
/autom4te.cache
/build-aux
/config.cache
/config.h
/config.in
/config.log
/config.status
/configure
/gnulib.mk
/m4
/maint.mk
/man/Makefile
/man/Makefile.in
/man/vc-chlog.1
/man/vc-dwim.1
/stamp-h1
/tests/*.log
/tests/Makefile
/tests/Makefile.in
/vc-chlog
/vc-dwim
/vc-dwim-[.1-9]*.tar.gz
/vc-dwim-[.1-9]*.tar.gz.sig
/vc-dwim-[.1-9]*.tar.xz
/vc-dwim-[.1-9]*.tar.xz.sig
Makefile
Makefile.in
TAGS
tags
