/fdl.texi
/gendocs_template
/stamp-vti
vc-dwim.aux
vc-dwim.cp
vc-dwim.cps
vc-dwim.dvi
vc-dwim.fl
vc-dwim.fn
vc-dwim.html
vc-dwim.info
vc-dwim.ky
vc-dwim.log
vc-dwim.op
vc-dwim.pdf
vc-dwim.pg
vc-dwim.toc
vc-dwim.tp
vc-dwim.vr
version.texi
/gendocs_template_min
